*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-variant: unset;
}

nav{
    width: 100%;
    height: 22vh;
    background: #236d1c;
    color: whitesmoke;
}

nav .top{
    background: #97b92f;
    width: 100%;
    height: 1vw;
}

nav ul{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

nav ul li{
   display: inline-block;
   padding: 30px;
   
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}

nav ul li a:hover{
    cursor: pointer;
    color:black;
}

nav ul li a img{
    width: 10vw;
    height: 10vh;
}

main{
    position: relative;
    left: 30%;
}

main .beitraege .block{
    width: 40vw;
    height: 30vh;
    border: rgb(179, 166, 166) 1px solid;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 3vh;
    background: white;
    margin-right: 8vw;
}

main .beitraege .block .row {
    display: flex;
}

main .beitraege .block .row img{
    width: 30vw;
    height: 30vh;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    margin-right: 1vh; 
    object-fit: cover;
}

main .beitraege .block .row .text{
    padding: 1vw;
}
main .beitraege .block .row h2{
    padding-bottom: 1vh;
}

main .beitraege .block a button{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background: #236d1c;
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
    padding: 1vh;
    margin-right: 1vh;
    border: none;
    position: relative;
    bottom: -200px;
}

.secnav{
    width: 100%;
    height: 6vh;
    background: #97b92f;
}

.secnav ul{
    list-style-type: none;
    text-align: center;
}

.secnav ul li{
    display: inline-block;
    padding: 10px;
    font-size: large;
}

.secnav ul li a{
    text-decoration: none;
    color: whitesmoke
}

.secnav ul li a:hover{
    color: black;
}

footer{
    width: 100%;
    height: 180px;
    background: #236d1c;
    color: whitesmoke;
}

footer img{
    width: 42px;
    color: whitesmoke;
}

.bottom{
    background: #97b92f;
    width: 100%;
    height: 1vw;
}